#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-bottom: 24px;
}

.title {
  font-size: 3em;
  font-weight: bold;
  line-height: 90%;
  /* color: #375a7f; */
}

.subtitle {
  font-size: 1.2em;
}

.container span {
  margin-bottom: 12px;
}

.form {
  position: relative;
  width: 28rem;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px dashed white;
  border-radius: 15px;
  margin-top: 2.1875rem;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}

.form:hover {
  background: rgba(255, 255, 255, 0.054);
}


output .image{
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

output .image img{
  height: 100%;
  width: 100%;
}

output .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.dark-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #375a7f; /* Bluish color */
  border: none;
  transition: background-color 0.3s ease;
  margin: 4px; /* Updated margin value */
}

.dark-button:hover {
  background-color: #4c7f9e; /* Lighter shade of bluish color */
}

.dark-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}