#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  position: relative;
  width: 28rem;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px dashed white;
  border-radius: 15px;
  margin-top: 2.1875rem;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}

.form:hover {
  background: rgba(255, 255, 255, 0.054);
}


output .image{
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

output .image img{
  height: 100%;
  width: 100%;
}

output .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}
